Options -MultiViews
RewriteEngine on

RewriteRule ^blog/(.*)$ %{ENV:REWRITEBASE}blog/$1 [QSA,L]
RewriteRule ^assets/(.*)$ %{ENV:REWRITEBASE}assets/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)\.(html|php)$ index.php?file=$1 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)\.(html|php)$ index.php?folder1=$1&file=$2 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)\.(html|php)$ index.php?folder1=$1&folder2=$2&file=$3 [L,QSA]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)\.(html|php)$ index.php?folder1=$1&folder2=$2&folder3=$3&file=$4 [L,QSA]
