.footer-showbox-img img {
    display: block;
    margin: auto;
    width: 100%;
}

.footer-showbox-img {
    padding-top: 40px;
    padding-bottom: 50px;
}

.showbox-content {
    margin: 0px 50px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

.showbox-bottom {
    text-align: center;
    margin-bottom: 50px;
}

.footer-places>div.footer-showbox:nth-of-type(odd) {
    background-color: #ececee;
}

.footer-places {
    border-bottom: 30px;
}

.footer-bottom {
    background-color: black;
    padding-top: 45px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
    color: white;
}

.footer-bottom>.col-md-4 {
    display: flex;
}

.footer-bottom .footer-text div {
    padding-bottom: 10px;
}

@media all and (min-width: 992px) {
    .footer-showbox-title {
        font-size: 2vw;
        text-align: center;
        padding-bottom: 40px;
    }

    .showbox-content td {
        padding-bottom: 40px;
        font-size: 1vw;
    }

    .additional-info {
        font-size: 1vw;
    }

    .footer-text .company-title {
        color: white;
        font-size: 2vw;
    }

    .copyright {
        text-align: center;
        font-size: 1vw;
    }
}

@media all and (max-width: 991px) {
    .footer-showbox-title {
        font-size: 18px;
        text-align: center;
        padding-bottom: 40px;
    }

    .showbox-content td {
        padding-bottom: 40px;
        font-size: 12px;
    }

    .additional-info {
        font-size: 12px;
    }

    .footer-text .company-title {
        color: white;
        font-size: 18px;
    }

    .copyright {
        text-align: center;
        font-size: 12px;
    }
}

.footer-text {
    padding-left: 19px;
}

.copyright span {
    margin: auto;
}

#footer-logo-wrap {
    position: relative;
}

#footer-logo-wrap img {
    position: absolute;
    bottom: 0px;
    width: 70%;
    margin-left: -18px;
}

@media all and (min-width: 576px) and (max-width: 991px) {
    #footer-logo-wrap img {
        width: 96%;
    }
}

@media all and (max-width: 575px) {
    #footer-logo-wrap img {
        width: 96%;
    }

    .col-xs-1 {
        width: 8.3333333%;
    }
    
    .col-xs-4 {
        width: 33.3333333%;
    }
    
    .col-xs-6 {
        width: 50%;
    }
    
    .col-xs-8 {
        width: 66.6666667%;
    }
    
    .col-xs-11 {
        width: 91.6666667%;
    }
}