/* HEADERバナー */

/* スマートフォン */
@media screen and (max-width: 479px) {
	a:link.sp_logo {
		width: 100%;
		height: auto;
		text-align: center;
		list-style: none;
	}
	*.img_auto {
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	*.sns_t {
		display: table;
		width: 100%;
		margin: 1px auto;
	}
	*.sns_c {
		display: table-cell;
		width: 33%;
		text-align: center;
	}
	*.sns_c img {
		width: 98%;
		height: auto;
	}
	*.logo_u {
		display: table;
		width: 100%;
		margin: 1px auto;
	}
	*.h_shop_menu {
		display: table-cell;
		text-align: center;
	}
	*.h_shop_menu img {
		width: 141px;
		height: 38px;
	}
	*.h_webshop {
		display: table-cell;
		text-align: center;
	}
	*.h_webshop img {
		width: 168px;
		height: 38px;
	}
}
		

/* PC */
@media screen and (min-width: 480px) {
	a:link.h_logo_h{
		display: block;
		width: 405px;
		height: 62px;
		background-image:url(../img/header/header_logo_h.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_logo_u{
		display: block;
		width: 232px;
		height: 38px;
		background-image:url(../img/header/header_logo_u.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_shop_menu{
		display: block;
		width: 150px;
		height: 38px;
		background-image:url(../img/header/header_shop_menu_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_shop_menu{
		display: block;
		width: 150px;
		height: 38px;
		background-image:url(../img/header/header_shop_menu_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_web_shop{
		display: block;
		width: 182px;
		height: 38px;
		background-image:url(../img/header/header_web_shop_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_web_shop{
		display: block;
		width: 182px;
		height: 38px;
		background-image:url(../img/header/header_web_shop_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_tire{
		display: block;
		width: 183px;
		height: 38px;
		background-image:url(../img/header/header_tire_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_tire{
		display: block;
		width: 183px;
		height: 38px;
		background-image:url(../img/header/header_tire_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_r_long{
		display: block;
		width: 500px;
		height: 62px;
		background-image:url(../img/header/header_r_long_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_r_long{
		display: block;
		width: 500px;
		height: 62px;
		background-image:url(../img/header/header_r_long_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_link{
		display: block;
		width: 400px;
		height: 62px;
		background-image:url(../img/header/header_link_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_link{
		display: block;
		width: 400px;
		height: 62px;
		background-image:url(../img/header/header_link_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_twitter{
		display: block;
		width: 50px;
		height: 62px;
		background-image:url(../img/header/header_twitter50.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_facebook{
		display: block;
		width: 50px;
		height: 62px;
		background-image:url(../img/header/header_facebook50.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_shopmenu{
		display: block;
		width: 141px;
		height: 38px;
		background-image:url(../img/header/shop_menu_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_shopmenu{
		display: block;
		width: 141px;
		height: 38px;
		background-image:url(../img/header/shop_menu_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_webshop{
		display: block;
		width: 168px;
		height: 38px;
		background-image:url(../img/header/web_shop_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_webshop{
		display: block;
		width: 168px;
		height: 38px;
		background-image:url(../img/header/web_shop_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_tire_wheel{
		display: block;
		width: 156px;
		height: 38px;
		background-image:url(../img/header/tire_wheel_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_tire_wheel{
		display: block;
		width: 156px;
		height: 38px;
		background-image:url(../img/header/tire_wheel_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_blog{
		display: block;
		width: 126px;
		height: 38px;
		background-image:url(../img/header/blog_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_blog{
		display: block;
		width: 126px;
		height: 38px;
		background-image:url(../img/header/blog_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:link.h_recruit{
		display: block;
		width: 117px;
		height: 38px;
		background-image:url(../img/header/recruit_1.gif);
		text_indent: -10000px;
		list-style; none;
	}
	a:hover.h_recruit{
		display: block;
		width: 117px;
		height: 38px;
		background-image:url(../img/header/recruit_2.gif);
		text_indent: -10000px;
		list-style; none;
	}
	
	*.logo_u {display: none;}
	*.sns_t {display: none;}
}
