/* 
** The Header Media Queries **
** Tweak as per your needs **
*/

body {
  background-color: white;
  width: 100%;
  margin: 0px;
}

div.container {
  max-width: 1920px;
  padding: 0px;
}

.row {
  width: 100%;
  margin: 0px;
}

header {
  width: 100%;
  margin: 0px;
}

.clearfix {
  display: block;
  background-color: transparent;
  color: transparent;
  height: 44px;
}

header .clearfix {
  background-color: white;
}

.ja {
  font-family: 'Noto Sans JP', sans-serif !important;
}

/* Header Carousel css */

.arrowed-title {
  display: inline-block;
  position: relative;
  left: 86px;
  margin-bottom: 30px;
}

.arrowed-title h1 {
  color: black;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.arrowed-title img {
  position: absolute;
  top: 24px;
  left: 34%;
}

#header-link {
  background-color: white;
  text-align: center;
}

a.arrowed-link, a.arrowed-link:link, a.arrowed-link:visited, a.arrowed-link:hover, a.arrowed-link:active {
  color: black;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
}

a.arrowed-link img {
  transform: translateY(-7px);
  zoom: 37%;
}

a.arrowed-link.black {
  color: black;
}

a.arrowed-link.white {
  color: white;
}

a.arrowed-link.blue {
  color: #1832dc;
}

#header-carousel-name {
  position: absolute;
  top: 178px;
  left: 86px;
  width: 8%;
  min-width: 150px;
}

#top-carousel {
  background-color:white;
}

#header-link {
  justify-content: space-around;
}

/* navbar */
.navbar.navbar-expand-lg {
  background-color: black;
  color: white;
}

.ml-auto, .mx-auto {
  margin-right: 9%;
}

.nav-item {
  text-align: center;
  color: white;
}

.nav-item div {
  color: white !important;
  font-size: 0.6rem;
}

.nav-item:hover {
  background-color: grey;
}

.navbar-dark .navbar-nav .nav-link {
  display: block;
  margin-left: 32px;
}

#header-logo {
  width: 75%;
  padding-left: 40px;
}

.navbar {
  padding: 0 0 0 0;
}

@media all and (max-width: 1200px) and (min-width: 992px) {
  .navbar-dark .navbar-nav .nav-link {
    display: block;
    margin-left: 10px;
  }
}

/* splide */
.splide__slide {
  width: 30vw !important;
}