/* img {
    width: 100%;
} */

.four-of-a-kind-one {
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0px;
    text-align: center;
    position: relative;
}

.four-of-a-kind-one .title {
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

/* .four-of-a-kind-one a * {
    color: white;
} */

#menu_title {
    background-position: 32% 106%;
}



/* #notice-table tr {
    width: 100%;
} */

@media all and (min-width: 992px) {
    .notice {
        width: 100%;
    }

    #notice-table {
        /* display: block; */
        width: 42%;
        margin: auto;
        border-collapse: collapse;
    }

    #notice-table td {
        padding: 25px 14px;
        font-size: 13px;
        display: inline-block;
        position: relative;
        font-size: 0.9vw;
    }

    #notice-table span.new-notice {
        font-size: 8px;
        color: blue;
        position: absolute;
        top: 15px;
        display: none;
        font-size: 0.5vw;
    }

    .four-of-a-kind-one a {
        background-color: rgba(128, 128, 128, 0.8);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-top: 56%;
        /* font-size: 15px !important; */
    }
}

@media all and (max-width: 991px) {

    #notice-table {
        /* display: block; */
        width: 80%;
        margin: auto;
        border-collapse: collapse;
    }

    #notice-table td {
        padding: 25px 14px;
        font-size: 13px;
        display: inline-block;
        position: relative;
        font-size: 10px;
    }

    #notice-table span.new-notice {
        font-size: 8px;
        color: blue;
        position: absolute;
        top: 15px;
        display: none;
        font-size: 5px;
    }

    .four-of-a-kind-one a {
        background-color: rgba(128, 128, 128, 0.8);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-top: 56%;
        font-size: 10px !important;
    }
}


#notice-table span.new-notice.active {
    display: inline-block;
}

#notice-table tr {
    border-bottom: solid black 1px;
}

.notice a {
    color: white;
    display: block;
    font-size: 13px;
    width: auto;
    margin: auto;
}

.four-square {
    width: 72%;
    margin: auto;
}

.four-square-one {
    margin-bottom: 27px;
}

.four-square-one .inner-wrapper {
    /* width: 50%; */
    /* display: inline-block; */
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%), 0 1px 8px 0 rgb(0 0 0 / 19%);
    min-height: 17.7vw;
    /* float:left; */
}

.four-square-one .inner-wrapper > a > img {
    width: 100%;
}

.four-square-one a, .four-square-one a:hover, .four-square-one a:visited, .four-square-one a:active {
    color: black;
    text-decoration: none;
}

.four-square-one .description div.arrowed-link {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

@media all and (max-width: 991px) {
    .four-square-one .description div.arrowed-link {
        font-size: 7.8 !important;
    }

    .four-square-one .description {
        padding: 12px 25px;
        font-size: 7.8;
    }
}

@media all and (min-width: 992px) {
    .four-square-one .description div.arrowed-link {
        font-size: 0.8vw !important;
    }

    .four-square-one .description {
        padding: 12px 25px;
        font-size: 0.8vw;
    }
}

.grey-wrapper {
    background-color: #ececec;
}

.white-wrapper {
    background-color: white;
}

.three-tiles {
    width: 87%;
    margin: auto;
}

.three-tiles-one {
    padding: 14px;
    position: relative;
}

.three-tiles-one img {
    width: 100%;
}

a.notype,
a.notype:hover,
a.notype:active,
a.notype:visited,
a.notype:link {
    text-decoration: none;
    color: black;
    position: relative;
}

.three-tiles-one .three-tiles-blue-border {
    font-size: 400%;
    color: transparent;
    -webkit-text-stroke: 2px #2036c2;
    text-align: left;
    position: absolute;
    bottom: 0;
    z-index: 1001;
}

.three-tiles-title {
    text-align: center;
    font-size: 1.145vw;
    font-weight: bold;
    padding: 13px 0px;
    z-index: 10500;
    position: relative;
}

.three-tiles-one {
    background-origin: content-box;
    background-repeat: no-repeat;
}

.three-tiles .three-tiles-triangle {
    width: 100%;
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
}

.three-tiles .three-tiles-text {
    font-size: 0.677vw;
    text-align: center;
    z-index: 10500;
    position: relative;
}

.three-tiles .image-inside-wrapper {
    position: relative;
    width: 100%;
    height: 32.3vw;
    max-height: 464.422px;
}

.four-tiles-one {
    text-align: center;
}

.four-tiles-one img,
.four-tiles-one span {
    display: block;
}

.four-tiles-one img,
.small-category-top-img img {
    width: 100%;
}

.four-tiles-title {
    font-size: 27px;
    font-weight: bold;
    padding: 13px 0px;
}
