@charset "utf-8";
/* リセット */
* { margin:0; padding:0; }
*:after {display: block; clear:both; }

/* はみ出し対策 */
body {
	width:100%;
	background-color: #000;
	color: #FFF;
	/* iOS明朝体対策 */
	font-family: ”ヒラギノ角ゴ Pro W3”,”Hiragino Kaku Gothic Pro”,Osaka,”ＭＳ Ｐゴシック”,”MS PGothic”, sans-serif;
}

*.n_bc {
	width: 100%;
	background-color: #000066;
	margin: 0 auto;
}

div.bar_cell {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
div.bar_cell img {
	width: 100%;
	height: 5px;
}

*.footer {
	margin: 2 auto;
	text-align: center;
	width: 943px;
	font-size: small;
}

/* 画像のボーダー消し */
img {border: none;}

/* HTML5に対応していないOS対策 */
article, aside, figure, footer, header, hgroup, nav, section { display:block; }

/* エラーメッセージ用 */
*.em_back {background-color: #000; margin: 5px auto 5px;}
*.em_back_comm1 {padding: 5px 2px 3px; font-size: x-large; font-weight: bold; text-align: center;}
*.em_back_comm2 {padding: 3px 2px 5px; font-size: small;}

/* TOPページバナー 2分割 */
*.top_b_2 {display: table; margin: 0 auto;}
*.top_b_2_cell {display: table-cell; width: 50%;}
*.top_b_2_cell img{width:100%; height: auto;}

/* スマホ回転時の表示崩れ対策 */
@media screen and (max-width: 940px) {
	div.bar_cell {
		width: 100%;
		margin: 0 auto;
	}
	div.bar_cell img {
		width: 940px;
		height: 5px;
	}
}

/* スマートフォン用CSS */
@media screen and (max-width: 479px) {
	@charset "UTF-8";
	img {
		width: 100%;
		height: auto;
	}
	*.pc_d {display: none;}
	*.sp_logo {
		width: 100%;
		text-align: center;
	}
	*.sp_logo img {
		width: 100%;
		height: auto;
	}
	*.pc_menu {display: none;}
	*.mc_nav {display: none;}
	div.bar_cell img {
		width: 100%;
		height: 5px;
	}
	*.top_mc_b {width: 100%;}
	*.top_mc_b img {width: 100%; height: auto;}
	*.top_mc_b_sp {width: 100%;}
	*.top_mc_b_sp img {width: 100%; height: auto;}
	*.n_mc_b {
		width: 100%;
	}
	*.n_mc_b img {
		width: 100%;
		height: auto;
	}
	*.top_mc_b_camp {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background-color: #FFF;
	}
	*.top_mc_b_camp a:hover img {
		opacity: 0.7;
	}
	*.top_mc_b_camp img {
		width: 100%;
		height: auto;
	}
	*.top_mc_b_camp_3px {margin: 3px 0 0 0;}
	/* 製品情報プルダウン非表示 */
	*.opt_d {display: none;}
	*.top_mc_b_pc {display: none;}
	*.top_mc_b_pc_3px {display: none;}
	/* メインテーブル */
	*.main_table {
		margin: 0 auto;
		padding: 0 1px;
		width: 100%;
	}
	/* 中央メインコンテンツアイコン */
	*.top3 {display: none;}
	/* TOPアライメント予約 */
	*.alignment_top_b {
		margin: 0 auto;
		width: 100%;
		table-layout: fixed;
	}
	*.alignment_top_b img {
		width: 100%;
		height: auto;
	}
	*.alignment_top_img {display: none;}
	/* TOP新着情報 */
	.top_new {
		display: table;
		margin: 0 auto;
		width: 100%;
		table-layout: fixed;
		background-color: #000;
	}
	.new title {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	*.new_title img {
		width: 115px;
		height: 30px;
	}
	.new_title1 {
		display: table-cell;
		vertical-align: top;
	}
	.new_title2 {
		display: table-cell;
		width: 100%;
		vertical-align: bottom;
		text-align: right;
		font-size: small;
		padding: 2px;
	}
	.new_daycomm {
		display: table;
		margin: 1px;
		font-size: small;
		background-color: #FFF;
		color: #000;
	}
	.new_day {
		display: table-cell;
		padding: 1px;
		text-align: right;
		vertical-align: top;
		/*width: 75px;*/
	}
	.new_comm {
		display: table-cell;
		padding: 1px;
		width: 100%;
		/*width: 493px;*/
	}
	*.top_new_set {display: none;}
	/* TOP製品情報 */
	*.top_product {
		display: table;
		width: 100%;
		margin: 0 auto;
		background-color: #000;
		/*border: solid 1px #0FF;*/
	}
	*.top_product_table {display: none;}
	*.top_product_cell {display: none;}
	*.top_product_sp_table {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	*.top_product_sp_cell {
		display: table-cell;
	}
	*.top_product_sp_cell img {
		width: 100%;
		height: auto;
	}
	*.top_product_cell_95 {display: none;}
	*.top_product_cell_text {display: none;}
	/* コピーライト */
	*.footer {
		width: 100%;
		color: #00ddff;
		font-size: x-small;
		text-align: center;
	}
	*.right_small_730 {
		width: 100%;
	}
	/* SNS用ボタン */
	*.sns_button {width: 100%;}
	*.sns_button_740 {width: 100%;}
	*.sns_button_730 {width: 100%;}
	/* 画像調整用（汎用） */
	*.other_photo {
		width: 100%;
		height: auto;
	}
	/* フッター 店舗情報 */
	*.footer_tenpo_table {display: none;}
	*.footer_tenpo_sp {
		font-size: 120%;
		font-weight: bold;
		text-align: center;
		color: #0FF;
	}
	*.footer_tenpo_sp a { display: block; width:100%; color: #0FF;}
	*.footer_tenpo_sp a:hover { background-color:#000000; color: #F00; }
	a.link_n:hover {color: #F00;}
	*.sp_none {display: none;}
	*.img_center img {width: 100%; height: auto;}
	/* エラーメッセージ用 */
	*.em_back_comm1 {font-size: large;}
	
	/* ダミーサイト用 */
	*.dummy_site {margin: 5px auto; text-align: center;}
	*.dummy_site a{font-size: large; font-weight: bold; color: #F00;}
	*.dummy_site a:hover{color: #FF0;}
	*.dummy_site img {width: 100%; height: auto;}

	/* 文頭記号表記（段落） */
	*.symbol_info {display: table;}
	*.symbol_info1 {display: table-cell; width: 15px; vertical-align: top; font-size: small; padding: 1px; text-align: right;}
	*.symbol_info1_30 {display: table-cell; width: 30px; vertical-align: top; font-size: small; padding: 1px; text-align: right;}
	*.symbol_info1_50 {display: table-cell; width: 50px; vertical-align: top; font-size: small; padding: 1px; text-align: right;}
	*.symbol_info2 {display: table-cell; vertical-align: top; font-size: small; padding: 1px;}
	*.symbol_info3 {font-size: small; padding: 1px;}

}

/* PC用CSS */
@media screen and (min-width: 480px) {
	@charser "UTF-8";
	*.sp_d, *.top_mc_b_sp {display: none;}
	*.pc_d {
		width: 940px;
		margin: 0 auto;
	}
	*.sp_logo{display:none;}
	*.main_table {
		margin: 0 auto;
		width: 943px;
		border-spacing: 1px;
	}
	*.pc_menu {
		width: 183px;
		vertical-align: top;
	}
	*.top_mc_b {
		width: 750px;
	}
	*.top_mc_b_pc {
		width: 750px;
	}
	*.top_mc_b_pc_3px {margin: 3px 0 0 0;}
	*.n_mc_b {
		width: 730px;
	}
	/* パンくずリンク */
	*.mc_nav {
		font-size: small;
	}
	*.mc_nav a {
		color: #fff;
	}
	*.mc_nav a:hover {
		color: #00F;
	}
	*.top_mc_b_camp {display: none;}
	*.top_mc_b_camp_1px {display: none;}
	/* アライメント予約用 */
	*.alignment_top_b {
		width: 750px;
		margin: 0 auto;
		background-color: #00DDFF;
		text-align: center;
	}
	*.alignment_top_b_f {
		background: url(img/alignment_yoyaku_f_02.gif);
		width: 150px;
		height: 28px;
	}
	*.alignment_top_b_f a {
		display: block;
	}
	*.alignment_top_b_f img {
		border: none;
	}
	*.alignment_top_b_f a:hover img {
		visibility: hidden;
	}
	*.alignment_top_b_i {
		background: url(img/alignment_yoyaku_i_02.gif);
		width: 150px;
		height: 28px;
	}
	*.alignment_top_b_i a {
		display: block;
	}
	*.alignment_top_b_i img {
		border: none;
	}
	*.alignment_top_b_i a:hover img {
		visibility: hidden;
	}
	*.alignment_top_b_h {
		background: url(img/alignment_yoyaku_h_02.gif);
		width: 150px;
		height: 28px;
	}
	*.alignment_top_b_h a {
		display: block;
	}
	*.alignment_top_b_h img {
		border: none;
	}
	*.alignment_top_b_h a:hover img {
		visibility: hidden;
	}
	/* 新着情報 */
	.top_new {
		display: table;
		margin: 0 auto;
		width: 750px;
		table-layout: fixed;
		background-color: #000;
	}
	.new title {
		display: table;
	}
	.new_title1 {
		display: table-cell;
		vertical-align: top;
	}
	.new_title2 {
		display: table-cell;
		width: 100%;
		vertical-align: bottom;
		text-align: right;
		font-size: small;
		padding: 3px;
	}
	.new_daycomm {
		display: table;
		margin: 1px;
		font-size: 13px;
		background-color: #FFF;
		color: #000;
	}
	.new_day {
		display: table-cell;
		padding: 1px;
		text-align: right;
		vertical-align: top;
		width: 75px;
	}
	.new_comm {
		display: table-cell;
		padding: 1px;
		width: 493px;
	}
	.top_new_set {
		display: table-cell;
		width: 180px;
		vertical-align: top;
		text-align: right;
		background-color: #FFF;
	}
	.top_new_set a:hover img {
		opacity: 0.7;
	}
	/* 製品情報 */
	.top_product {
		display: table;
		width: 750px;
		margin: 0 auto;
		background-color: #000;
		border: solid 2px #0FF;
	}
	.top_product_table {
		display: table;
	}
	.top_product_cell {
		display: table-cell;
		vertical-align: top;
	}
	*.top_product_sp_table {display: none;}
	*.top_product_sp_cell {display: none;}
	.top_product_cell_95 {
		display: table-cell;
		width: 95px;
		text-align: right;
		vertical-align: top;
	}
	.top_product_cell_text {
		display: table-cell;
		padding: 1px;
		vertical-align: top;
		font-size: 12px;
	}
	.top_product_cell_text a:link {
		color: #FFF;
		text-decoration: none;
	}
	.top_product_cell_text a:visited {
		color: #FFF;
		text-decoration: none;
	}
	.top_product_cell_text a:hover {
		color: #00F;
		text-decoration: none;
	}
	.top_product_cell_text a:active {
		color: #FFF;
		text-decoration: none;
	}
	/* TOPコンテンツ */
	.top3 {
		display: table;
		widht: 750px;
		margin: 0 auto;
		table-layout: fixed;
	}
	*.top3_shop_menu {
		display: table-cell;
		background: url(img/shop_menu_2.gif);
		width: 248px;
	}
	*.top3_shop_menu a {
		display: block;
	}
	*.top3_shop_menu a:hover img {
		visibility: hidden;
	}
	*.top3_tsuhan {
		display: table-cell;
		background: url(img/tsuhan_2.gif);
		width: 248px;
		height: 304px;
	}
	*.top3_tsuhan a {
		display: block;
	}
	*.top3_tsuhan a:hover img {
		visibility: hidden;
	}
	*.top3_tire_wheel {
		display: table-cell;
		background: url(img/tire_wheel_2.gif);
		width: 248px;
		height: 304px;
	}
	*.top3_tire_wheel a {
		display: block;
	}
	*.top3_tire_wheel a:hover img {
		visibility: hidden;
	}
	*.top3_2px {
		display: table-cell;
		width: 2px;
	}
	*.right_small_730 {
		width: 730px;
	}
	/* SNSボタン */
	*.sns_button {width: 750px;}
	*.sns_button_740 {width: 740px;}
	*.sns_button_730 {width: 730px;}

	/* フッター部分店舗リンク */
	*.footer_tenpo_sp {display: none;}
	*.footer_tenpo_table {
		display: table;
		width: 420px;
		margin: 1px auto;
		font-size: small;
		font-weight: bold;
	}
	*.footer_tenpo_cell_name {
		display: table-cell;
		width: 30%;
		text-align: right;
	}
	*.footer_tenpo_cell_name a {color: #FFF;}
	*.footer_tenpo_cell_name a:hover {color: #00F;}
	*.footer_tenpo_cell_tel {
		display: table-cell;
		width: 35%;
	}
	hr {width: 98%;}
	a.link_n:hover {color: #00F;}
	/* エラーメッセージ用 */
	*.em_back {width: 750px;}
	*.em_back_comm1 {font-size: x-large;}
	*.em_back_comm2 {text-align: center;}

	/* ダミーサイト用 */
	*.dummy_site {display: none;}

	/* 文頭記号表記（段落） */
	*.symbol_info {display: table;}
	*.symbol_info1 {display: table-cell; width: 15px; vertical-align: top; font-size: small; padding: 1px; text-align: right;}
	*.symbol_info1_50 {display: table-cell; width: 50px; vertical-align: top; font-size: small; padding: 1px; text-align: right;}
	*.symbol_info2 {display: table-cell; vertical-align: top; font-size: small; padding: 1px;}
	*.symbol_info3 {font-size: small; padding: 1px;}

	/* TOPページバナー 2分割 */
	*.top_b_2 {display: table; width: 750px; margin: 0 auto;}
}

/* メインコンテンツ */
*.main_c {
	vertical-align: top;
}

/* TOPページバナー */
*.top_mc_b,*.top_b_2_cell {
	margin: 0 auto;
	text-align: center;
	background-color: #FFF;
}
*.top_mc_b a:hover img {
	opacity: 0.7;
}
*.top_b_2_cell a:hover img {
	opacity: 0.7;
}
*.top_mc_b_pc {
	margin: 0 auto;
	text-align: center;
	background-color: #FFF;
}
*.top_mc_b_pc a:hover img {
	opacity: 0.7;
}

/* SNSボタン用 */
*.sns_button {margin: 0 auto; background-color: #000;}
*.sns_button_740 {margin: 0 auto; background-color: #000;}
*.sns_button_730 {margin: 0 auto; background-color: #000;}
*.sns_button_table {display: table;	margin-left: auto;}
*.sns_button_cell {display: table-cell;}
iframe.twitter-share-button	{/*	width: 85px!important;*/}

/* 通常ページバナー */
*.n_mc_b {
	margin: 0 auto;
	text-align: center;
	background-color: #FFF;
}
*.n_mc_b a:hover img {
	opacity: 0.7;
}

/* 共通スペース */
*.space1px {margin: 1px 0 0 0;}
*.space2px {margin: 2px 0 0 0;}
*.space3px {margin: 3px 0 0 0;}
*.space5px {margin: 5px 0 0 0;}
*.space5px_p {padding: 5px 0 0 0;}
*.space8px {margin-top: 8px;}

/* Font共通 */
*.font_b {font-weight: bold;}
*.font_m_b {font-weight: bold; font-size: medium;}
*.font_n {font-weight: normal;}
*.font_small {font-size: small;}
*.font_small_b {font-size: small; font-weight: bold;}
*.font_000 {color: #000;}
*.font_f00 {color: #F00;}
*.font_f00_b {font-weight: bold; color: #F00;}
*.font_ff0 {color: #FF0;}
*.font_ff0_b {color: #FF0; font-weight: bold;}
*.font_fff {color: #FFF;}
*.font_fff_x_small {font-size: x-small; color: #FFF;}
*.font_0ff {color: #0FF;}
*.font_0ff_b {color: #0FF; font-weight: bold;}
*.font_09f {color: #09F;}
*.font_09f_b {color: #09F; font-weight: bold;}
*.font_fc0 {color: #FC0;}
*.font_fc0_b {color: #FC0; font-weight: bold;}
*.font_3fc {color: #3FC;}
*.font_3fc_b {color: #3FC; font-weight: bold;}
*.font_f00_m_b {color: #F00; font-size: medium; font-weight: bold;}
*.font_ff0_m_b {color: #FF0; font-size: medium; font-weight: bold;}
*.font_00f {color: #00F;}
*.font_0f0 {color: #0F0;}

/* 寄せ位置とFontサイズ */
*.right_small_730 {
	margin: 0 auto;
	text-align: right;
	font-size: small;
}

/* 区切り線 */
hr {margin: 5px auto; height: 1px; border: 0; color: #333;}

/* リンク */
a.link_n {color: #FFF;}
a.link_n_dn {color: #FFF; text-decoration: none;}
a.link_n_dn:hover {color: #00F;}

/* 画像真ん中寄せ（汎用） */
*.img_center {text-align: center;}

/* WEB SHOPリンク */
a.shop_link {color: #F00;}
a.shop_link:hover {color: #00F;}
